@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-image: linear-gradient( #ffff00, #00e6e6);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle:hover {
background-image: linear-gradient( #00e6e6, #ffff00);
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: white;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: white;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.employee-card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-image: linear-gradient(red, yellow);
transition: 0.3s;
border-radius: 5px;
padding: 10px;
}

.employee-card:hover {
background-image: linear-gradient(yellow, red);
}

.employee-card-content {
color: #00ff99;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.company-card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-image: linear-gradient(#9933ff, #00ffff);
transition: 0.3s;
border-radius: 5px;
padding: 10px;
margin-top: 30px;
}

.company-card:hover {
background-image: linear-gradient(#00ffff, #9933ff);
}

.company-card-content {
color: #ffffcc;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

hr {
margin: 1em;
}





