<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />
    <title>Jsoup Template</title>
</head>
<body>
<!-- NAV -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a href="#" class="navbar-brand">Jsoup Template</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a href="#" class="nav-link active">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#" class="nav-link">Posts</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#" class="nav-link">Categories</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#" class="nav-link">Users</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a
                            href="#"
                            class="nav-link dropdown-toggle"
                            data-toggle="dropdown"
                    >
                        <i class="fas fa-user"></i> Welcome George
                    </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-user-circle"></i> Profile
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-user-times"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--  HEADER  -->
<header class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fas fa-cog"></i> Dashboard</h1>
            </div>
        </div>
    </div>
</header>

<!--    ACTIONS   -->
<section class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a
                        href="#"
                        class="btn btn-primary btn-block"
                        data-toggle="modal"
                        data-target="#addPostModal"
                >
                    <i class="fas fa-plus"></i> Add Post
                </a>
            </div>
            <div class="col-md-3">
                <a
                        href="#"
                        class="btn btn-success btn-block"
                        data-toggle="modal"
                        data-target="#addCategoryModal"
                >
                    <i class="fas fa-plus"></i> Add Category
                </a>
            </div>
            <div class="col-md-3">
                <a
                        href="#"
                        class="btn btn-warning btn-block"
                        data-toggle="modal"
                        data-target="#addUserModal"
                >
                    <i class="fas fa-plus"></i> Add User
                </a>
            </div>
        </div>
    </div>
</section>

<!--  CONTENT  -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card bg-danger text-white text-center mb-3">
                    <div class="card-header">
                        <h4>Employee</h4>
                    </div>
                    <h1 class="py-2" th:text="${employee.name}">Employee Name</h1>
                    <h3 class="py-2" th:text="${employee.occupation}">Occupation</h3>
                    <h5 class="py-2" th:text="${employee.industry}">Industry</h5>
                    <h5 class="py-2" th:text="${employee.phoneNumber}">Phone Number</h5>
                    <h5 class="py-2" th:text="${employee.address}">Address</h5>
                </div>

                <div class="card bg-info text-white text-center mb-3">
                    <div class="card-header">
                        <h4>Employee</h4>
                    </div>
                    <h1 class="py-2" th:text="${company.name}">Company Name</h1>
                    <h3 class="py-2" th:text="${company.location}">Location</h3>
                    <h5 class="py-2" th:text="${company.numberOfEmployees}">Number Of Employees</h5>
                    <h5 class="py-2" th:text="${company.industry}">Industry</h5>
                    <h5 class="py-2" th:text="${company.description}">Description</h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Posts</h3>
                        <h4 class="display-4"><i class="fas fa-pencil-alt"></i> 6</h4>
                        <a href="#" class="btn btn-outline-light btn-sm"
                        >View</a
                        >
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Categories</h3>
                        <h4 class="display-4"><i class="fas fa-folder"></i> 4</h4>
                        <a href="#" class="btn btn-outline-light btn-sm"
                        >View</a
                        >
                    </div>
                </div>
                <div class="card text-center bg-warning text-white mb-3">
                    <div class="card-body">
                        <h3>Users</h3>
                        <h4 class="display-4"><i class="fas fa-users"></i> 4</h4>
                        <a href="#" class="btn btn-outline-light btn-sm"
                        >View</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy; <span id="year"></span>
                    Jsoup Template
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="content">

</div>

<script
        src="http://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"
></script>

<script>
      // Get the current year for the copyright
      $("#year").text(new Date().getFullYear());

</script>

</body>
</html>